h1{
    color: #ff00e6;
    font-style: arial;
}
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  height: 100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background: black;
}


.bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -3;
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: -2;
}


.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}


h1 {
  font-size: clamp(34px, 6vw, 60px);
  margin-bottom: 20px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

p {
  font-size: clamp(18px, 4vw, 28px);
  margin-bottom: 25px;
}


#mainVideo {
  width: 90%;
  max-width: 420px;
  border-radius: 14px;
  background: black;
  margin-bottom: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}


.buttons {
  position: relative;
  width: 100%;
  max-width: 320px;
  height: 80px;
}

button {
  padding: 14px 30px;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* YES */
#yesBtn {
  background: #4caf50;
  color: white;
  margin-right: 40px;
}

/* NO (moves randomly via JS) */
#noBtn {
  position: fixed; /* instead of absolute */
  background: #f44336;
  color: white;
  margin-top: -1%;
}

