* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

/* Background video */
#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

/* Background image (after YES) */
#bgImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("bg.png") center/cover no-repeat;
  display: none;
  z-index: -1;
}

/* Main content */
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
  backdrop-filter: brightness(0.9);
}

h1 {
  font-size: clamp(32px, 6vw, 60px);
  margin-bottom: 20px;
}

p {
  font-size: clamp(18px, 4vw, 28px);
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 40px;
}

button {
  padding: 12px 30px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

#yesBtn {
  background: #ff5e8e;
  color: white;
  margin-left: -100px;
}

#noBtn {
  background: white;
  color: black;
  position: absolute;
}

h1{
  color: #ff5e8e;
}

@media (max-width: 768px) {

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
  }

  .content {
    padding: 15px;
  }

  .buttons {
    flex-direction: column;
    gap: 20px;
  }

  button {
    width: 80vw;
    max-width: 280px;
    font-size: 18px;
    padding: 14px 0;
  }

  #noBtn {
    position: fixed;
  }

}
